proc-mynavi-api/src/main/mule/proc-hoge-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8c47813f-752b-4495-857d-be5a5c2fde92" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="proc-pana-apiFlow" doc:id="83e480a6-e03f-453f-8f9b-3b96ca1363a4" >
		<http:listener doc:name="GET Listener" doc:id="96f7eb9d-69de-4549-8409-28a05f2ff74c" config-ref="HTTP_Listener_config" path="helloget" allowedMethods="GET"/>
		<set-payload value="helloGetAbnormal" doc:name="helloGetAbnormal" doc:id="f5badf19-930b-4fbb-b3cd-72093707cfed" />
	</flow>
	<flow name="proc-pana-apiFlow1" doc:id="3de6865b-8b88-4963-a04b-85c4b8609bf4" >
		<http:listener doc:name="POST Listener" doc:id="f89d8887-d2ae-4d94-bb4a-2051f2959972" config-ref="HTTP_Listener_config" path="hellopost"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="325e79a1-be6c-4891-bf74-500a3f763961" />
	</flow>
</mule>
